<!DOCTYPE html>
<html>
<head>
    <title>내 기술 스택</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-8">
    <h1 class="text-2xl font-bold mb-4">내 기술 스택</h1>

    <form action="/send" method="POST">
        <input type="text" name="skill" placeholder="기술명(Skill)">
        <button type="submit">전송</button>
    </form>

    <h2 class="text-xl font-bold mb-3">입력한 데이터</h2>

    {% for item in messages %}
    <p>
        <span class="
            {% if item['skill'] == 'Python' %} text-blue-500
            {% elif item['skill'] == 'HTML' %} text-orange-500
            {% elif item['skill'] == 'SQL' %} text-green-600
            {% elif item['skill'] == 'Bash' %} text-gray-600
            {% elif item['skill'] == 'Java' %} text-red-500
            {% elif item['skill'] == 'JavaScript' %} text-yellow-500
            {% else %} text-black
            {% endif %}">
            {{ item['skill'] }}
        </span>
    </p>
    {% endfor %}

</body>
</html>